body {
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 0px;
  margin: 0;
}

header{
  background-color:rgb(82, 31, 72);
  padding: 2%;
  padding-top: 25px;
  text-align: center;
  height: 5vh;
}

footer{
  padding: 3%;
  padding-top: 35px;
  background-color:rgb(82, 31, 72);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
}

.section {
  margin-bottom: 25px;
}

.section h2 {
  color: #38bdf8;
  font-size: 35px;
  margin: 1%;
  text-align: center;
}

a {
  display: block;
  color: #e5e7eb;
  font-size: large;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}