body {
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 0px;
  margin: 0;
}

header{
  background-color: rgb(12, 29, 134);
  padding: 5%;
  text-align: center;
}

footer{
  padding: 4%;
  background-color:rgb(12, 29, 134);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.section {
  margin-bottom: 25px;
}

.section h2 {
  color: #38bdf8;
  margin: 1%;
}

a {
  display: block;
  margin-left: 3%;
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}