body {
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 0px;
  margin: 0;
}

header{
  background-color: rgb(82, 31, 72);
  padding: 1%;
  text-align: center;
  height: 3vh;
}

footer{
  padding: 1%;
  background-color:rgb(82, 31, 72);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vh;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.section {
  margin-bottom: 25px;
}

.section h2 {
  text-align: center;
  color: #38bdf8;
}

a {
  text-align: center;
  display: block;
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #38bdf8;
}

#time, #date {
  text-align: center;
  display: block;
  margin-top: -20px;
  margin-bottom: 20px;
  color: #94a3b8;
}